@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body,
    html {
        @apply h-full  
    }
    
}

@layer components {
    .cloudy {
        height: 100%;
        background-image: url(../src/images/cloudy.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .fogy {
        height: 100%;
        background-image: url(../src/images/fogy.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .lightning {
        height: 100%;
        background-image: url(../src/images/lightning.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .rainy {
        height: 100%;
        background-image: url(../src/images/rainy.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .snowy {
        height: 100%;
        background-image: url(../src/images/snow.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .storm {
        height: 100%;
        background-image: url(../src/images/storm.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sun_wind {
        height: 100%;
        background-image: url(../src/images/sun-wind.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sunny {
        height: 100%;
        background-image: url(../src/images/suny.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .windy {
        height: 100%;
        background-image: url(../src/images/windy.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .flex_center {
        @apply flex justify-center items-center
    }
    
}