@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    @apply h-dvh;
  }
}

@layer components {
  .cloudy {
    height: 100dvh;
    background-image: url(../src/images/bg_conditions/cloudy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fogy {
    height: 100%;
    background-image: url(../src/images/bg_conditions/fogy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .lightning {
    height: 100%;
    background-image: url(../src/images/bg_conditions/lightning.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .rainy {
    height: 100dvh;
    background-image: url(../src/images/bg_conditions/rainy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .snowy {
    height: 100%;
    background-image: url(../src/images/bg_conditions/snow.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .storm {
    height: 100%;
    background-image: url(../src/images/bg_conditions/storm.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sun_wind {
    height: 100%;
    background-image: url(../src/images/bg_conditions/sun-wind.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sunny {
    height: 100%;
    background-image: url(../src/images/bg_conditions/sunny.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .windy {
    height: 100%;
    background-image: url(../src/images/bg_conditions/windy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .flex_center {
    @apply flex justify-center items-center;
  }

  .flex_between {
    @apply flex justify-between items-center
  }

  .glassmorphism {
    @apply bg-boxLight bg-opacity-40 backdrop-blur-md;
  }

  .dark_glassmorphism {
    @apply bg-boxDark bg-opacity-40 backdrop-blur-md;
  }

  .glassmorphism2 {
    @apply bg-cyan-700 bg-opacity-60 backdrop-blur-lg;
  }

  .dark_glassmorphism2 {
    @apply bg-boxLight bg-opacity-30 backdrop-blur-lg;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

}
